.previewpost {
  display: flex;
  flex-direction: column;
}

.previewpost:not(:last-child) {
  border-bottom: 1px solid #cdd9e5;
  padding-bottom: 80px;
}

.previewpost:not(:first-child) {
  padding-top: 80px;
}

.previewpost__title {
  font-size: 30px;
  font-weight: 200;
  margin: 0;
  text-align: center;
}

.previewpost__date {
  font-size: 14px;
  font-weight: 200;
  margin: 0;
  padding: 10px 0 20px 0;
  text-align: center;
}

.previewpost__description {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.previewpost__link {
  text-decoration: none;
  color: #cdd9e5;
}

.previewpost__link:hover {
  color: #88df8e;
}