.logo {
  background-image: url(../../../public/logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 82px;
  cursor: pointer;
  opacity: .8;
}

.logo:hover {
  opacity: 1;
}